h1 {
    font-size: 80px;
    text-align: center;
    color: #ffffff;
}

h2 {
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h3 {
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-wrap: balance;
    white-space: pre-wrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background: linear-gradient(90deg, black, rgb(107, 2, 2))
}

head {
    background-color: rgb(0, 0, 0);
}

.Discord-Opesanie {
    font-size: 25px;
    text-align: right;
    color: rgb(255, 255, 255);
    white-space: pre-wrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transform: translate(-100px);
}

.Discord {
    width: 720px;
    height: 480;
    transform: translate(1000px);
    padding-top: 120px;
}

.Faceit {
    width: 720px;
    height: 480;
    transform: translate(170px);
    padding-top: 120px;
}

.Faceit-Opisanie {
    font-size: 25px;
    text-align: right;
    color: rgb(255, 255, 255);
    white-space: pre-wrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transform: translate(-900px);
}